.constant-ratio-parent {
  position: relative;
  padding-bottom: 60%;
}

@media (min-width: 525px) {
  .constant-ratio-parent {
    padding-bottom: 0;
    height: 20rem;
  }
}

.constant-ratio-child {
  position: absolute;
  width: 100%;
  height: 100%;
}