.slide-banner__nav-button {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  border: 0;
  background-color: whitesmoke;
  margin: 0 0.4rem;
  transform: scale(0.8);
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &--selected {
    background-color: rgb(196, 196, 196);
    transform: scale(1);
  }
}
