.slide-banner__article {
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1000px) {
  .slide-banner {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
  }
}

.slide-banner__article-wrapper {
  display: flex;
  height: 100%;
}
