.slide-banner__article {
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1000px) {
  .slide-banner {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
  }
}

.slide-banner__article-wrapper {
  display: flex;
  height: 100%;
}

.slide-banner__constant-ratio-wrapper {
  position: relative;
  padding-bottom: 35%;
}

@media (min-width: 1000px) {
  .slide-banner__constant-ratio-wrapper {
    padding-bottom: 0;
    height: 22rem;
    width: 62rem;
  }
}

@media (max-width: 750px) {
  .slide-banner__constant-ratio-wrapper {
    padding-bottom: 65%;
  }
}

.slide-banner__constant-ratio-div {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
