.slide-banner__article {
  display: flex;
}

.slide-banner__column1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0 0 2rem;

  &-area {
    position: absolute;
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-weight: 600;
  }
}

.silde-banner__column2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-area {
    position: absolute;
    font-size: 12rem;
    color: skyblue;
  }
}

.slide-banner__column3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-area {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      padding: 0;
      display: flex;
      width: 100%;
      padding: 0 2rem 0 2rem;
      margin: 0;
      flex-direction: column;
      // align-items: center;
      li {
        list-style: none;
        margin: 0.2rem 0;
        background-color: rgba(255, 255, 255, 0.795);
        padding: 0.8rem;
        border-radius: 0.3rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .slide-banner__column-3 {
    display: none;
  }
}
